.breadcrumb-custom {
  background: var(--sidebarBg);
}

.breadcrumb-custom .ant-breadcrumb-separator,
.breadcrumb-custom a,
.breadcrumb-custom span {
  color: var(--sidebarText) !important;
}

.footer-dashboard {
  background: var(--panelGradient); /* màu gradient */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  text-align: center;
  color: var(--textColor);
  font-size: 14px14px;
  font-weight: none !important;
}
.footer-dashboard span {
  font-weight: bold !important;
}
