.custom-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  height: 70px;
  background: linear-gradient(180deg, #7b2ff7, #4096ff);
  color: #fff;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}


.menu {
  display: flex;
  gap: 24px;
}

.menu a {
  color: #d6e4ff;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s ease;
    transition: color 0.3s ease;
}

.menu a:hover,
.menu-mobile a:hover {
  color: #667ce7; /* màu khi hover */
}

.menu a.active,
.menu-mobile a.active {
  color: #fff; /* màu sáng cho trang đang active */
  font-weight: bold;
}
/* Nút login (trước khi đăng nhập) */
.login-col {
  text-align: left;
}

.right-wrappers {
  display: flex;

  justify-content: flex-end;
  
}
.login-wrappers {
  display: flex;
  justify-content: flex-end; /* đẩy hết về bên phải */
  align-items: center;
  gap: 10px; /* khoảng cách giữa login và menu */
  width: 100%; /* chiếm full Col */
}

.login-btns {
  background: linear-gradient(180deg, #7b2ff7, #4096ff);
  border: 1px solid #fff;
  padding: 6px 14px;
  border-radius: 8px;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  height: 36px;
  transition: all 0.3s ease;
}

.login-btns:hover {
  opacity: 0.9;
}

/* Menu button (hamburger) */
.menu-btn {
  background: none;
  border: none;
  color: #fff;
  font-size: 20px;
  margin-left: 5px;
  cursor: pointer;
  display: none; /* mặc định ẩn */
}

/* Responsive */
@media (max-width: 768px) {
  .menu-desktop {
    display: none; /* ẩn menu ngang */
  }
  .menu-btn {
    display: inline-flex; /* hiện hamburger */
  }
}
.menu-mobile {
  display: flex;
  flex-direction: column;
  gap: 16px; /* khoảng cách giữa các link */
  margin-top: 20px;
}

.menu-mobile a {
  font-size: 16px;
  font-weight: 500;
  color: #4096ff; /* xanh dương */
  text-decoration: none;
  transition: all 0.3s ease;
}

.menu-mobile a:hover {
  color: #7b2ff7; /* tím khi hover */
  padding-left: 8px;
}

.menu-mobile a.active {
  color: #7b2ff7;
  font-weight: 600;
}

