.profile-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  background: var(--panelGradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  color: transparent !important; 
}

/* gradient khi hover tab */
.profile-tabs .ant-tabs-tab:hover .ant-tabs-tab-btn {
  background: var(--panelGradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent !important;
}

.profile-tabs .ant-tabs-ink-bar {
  background: var(--panelGradient);
  height: 3px;
  border-radius: 3px;
}
.profile-texth2{
  background: var(--panelGradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  align-items: center;
    justify-content: center;
}
.profile-h2{
  background: var(--panelGradient);
  height: 3px;
  border-radius: 3px;
}
.ant-card-head-title{
  background: var(--panelGradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    display: inline-block;
}
.ant-card .ant-card-head{
    border-bottom:1px solid var(--colorTitle) ;
}
.ant-descriptions .ant-descriptions-item-label{
  background: var(--panelGradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
   position: relative;
font-size: 14px;
}
/* Khôi phục màu cho dấu ":" */
.ant-descriptions .ant-descriptions-item-label::after {
  color: #754da5; /* hoặc var(--TextPrimary) hay màu bạn muốn */
  -webkit-text-fill-color: initial;
}

.ant-form-item-vertical .ant-form-item-label > label{
  background: var(--panelGradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    display: inline-block;
   position: relative;
}

.ant-select-outlined:not(.ant-select-customize-input) .ant-select-selector{
  border: 1px solid #7c4dff ;
}
.ant-picker-outlined  {
  border: 1px solid #754da5 !important;
  color: var(--colorText) !important;
}
/* Áp dụng cho tất cả input của Ant Design */
.ant-input-outlined {
  border: 1px solid #7c4dff !important;
}
.ant-input-affix-wrapper{
    border: 1px solid #754da5 !important;
}
.ant-btn-variant-solid{
  border: 1px solid #754da5 !important;
  color:  #ffffff !important;
   background: var(--panelGradient);
    display: inline-block;
    box-shadow: none !important;
}

/* Hover: sáng hơn một chút, hơi lớn nhẹ */
.ant-btn-variant-solid:hover {
   background: var(--panelGradient)!important;  
  transform: scale(1.05)!important;                /* phóng to nhẹ */
}
.ant-btn-color-default {
background: var(--panelGradient);
}

/* Hover: sáng hơn một chút, hơi lớn nhẹ */
.ant-btn-color-default:hover {
  background: var(--panelGradient)!important;  
  transform: scale(1.05)!important;                /* phóng to nhẹ */
}
/* Xóa nền cho button text */
.ant-btn.ant-btn-text.ant-btn-color-default.ant-btn-variant-text {
  background: transparent !important;
  box-shadow: none !important;
  border: none !important;
  transition: all 0.2s ease;
}

/* Xóa nền khi hover, focus, active */
.ant-btn.ant-btn-text.ant-btn-color-default.ant-btn-variant-text:hover,
.ant-btn.ant-btn-text.ant-btn-color-default.ant-btn-variant-text:focus,
.ant-btn.ant-btn-text.ant-btn-color-default.ant-btn-variant-text:active {
  background: transparent !important;
  box-shadow: none !important;
}
