.profile-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  background: var(--panelGradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  color: transparent !important;
}

/* gradient khi hover tab */
.profile-tabs .ant-tabs-tab:hover .ant-tabs-tab-btn {
  background: var(--panelGradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent !important;
}

.profile-tabs .ant-tabs-ink-bar {
  background: var(--panelGradient);
  height: 3px;
  border-radius: 3px;
}
.profile-texth2 {
  background: var(--panelGradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile-h2 {
  background: var(--panelGradient);
  height: 3px;
  border-radius: 3px;
}
.ant-card-head-title {
  background: var(--panelGradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}
.ant-card .ant-card-head {
  border-bottom: 1px solid var(--colorTitle);
}
.ant-descriptions .ant-descriptions-item-label {
  background: var(--panelGradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* display: inline-block; */
  position: relative;
  font-size: 14px;
}
/* Khôi phục màu cho dấu ":" */
.ant-descriptions .ant-descriptions-item-label::after {
  color: #754da5; /* hoặc var(--TextPrimary) hay màu bạn muốn */
  -webkit-text-fill-color: initial;
}

.ant-form-item-vertical .ant-form-item-label > label {
  background: var(--panelGradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
}
.confirm-password-input-custom.ant-form-item .ant-form-item-label {
  margin-bottom: -8px !important;
}

/* .ant-select-outlined:not(.ant-select-customize-input) .ant-select-selector{
  border: 1px solid #754da5;
} */
.option-gradient-container {
  background: var(--postcardsSection) !important;
}
.option-gradient-container
  .option-gradient-dropdown
  .ant-select-item-option-active {
  background: var(--postcardsSection) !important;
}
.gender-option-gradient .ant-select-item-option-content {
  color: var(--colorText) !important;
}
.dateOfBirth-gradient .ant-picker-outlined {
  color: var(--colorText) !important;
}
.detail-profile-button-container {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
.detail-profile-button.ant-btn-color-default {
  background: var(--panelGradient) !important;
}

/* Màu chữ */
.detail-profile-button.ant-btn-color-default span {
  color: #ffffff !important;
}
.ant-picker-focused,
.ant-picker-outlined:focus,
.ant-picker-outlined:focus-within {
  box-shadow: none !important;
  outline: none !important;
}
