.update-image-container .ant-btn-variant-outlined,
.ant-btn-variant-dashed {
  border: none !important;
}
.ant-modal .ant-modal-close-x{
 color: var(--colorText) !important;
}

.modal-container .ant-btn-variant-outlined{
  border: 1px solid #754da5 !important;
  background: transparent !important;
}
.modal-container .ant-btn-variant-outlined:hover,
.ant-btn-variant-dashed:hover {
  border: 1px solid #754da5 !important;
  color: inherit !important;
  background: transparent !important;
}


.modal-container .button-select-file.ant-btn-variant-outlined {
background: var(--panelGradient) !important;
  border: 1px solid #754da5 !important;
  color: #fff !important;
  transition: 0.3s ease;
}

.modal-container .button-select-file.ant-btn-variant-outlined:hover {
background: var(--panelGradient) !important;
  color: #fff !important;
}
