.users-management {
  text-align: center !important;
}
.ant-descriptions-item-label {
  font-weight: 600 !important; /* in đậm nếu muốn nổi bật hơn */
}
.ant-descriptions-item-content {
  color: var(--colorText) !important; /* đổi màu chữ */
  background: transparent !important; /* hoặc #1f1f1f nếu muốn */
}
.ant-modal .ant-modal-header {
  background: transparent !important;
  border-bottom: none !important;
  box-shadow: none !important;
}

.ant-modal-title {
  background: var(--panelGradient); /* màu gradient */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  display: flex;
  justify-content: center;
  font-size: 24px !important;
  font-weight: bold !important;
}

.ant-modal .ant-modal-content {
  background: var(--sidebarHoverBg) !important;
}

.title-users-management {
  background: var(--panelGradient); /* màu gradient */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  margin-top: 10px;
  display: inline-block;
  margin-bottom: 20px;
}

.user-table .ant-table-thead > tr > th {
  background: var(--gradientPrimary) !important;
  color: var(--textTopStatictis) !important;
  font-weight: bold;
  /* text-align: center; */
}

.user-table .ant-table-tbody {
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 8px; /* bo góc nếu cần */
}

/* Đổi màu icon Filter */
.user-table .ant-table-filter-trigger {
  color: var(--textTopStatictis) !important; /* xanh dương */
}

/* Đổi màu icon Sorter */
.user-table .ant-table-column-sorter-up,
.user-table .ant-table-column-sorter-down {
  color: var(--textTopStatictis) !important; /* xanh dương */
}

/* Khi đang active (đang filter/sort) */
.user-table .ant-table-filter-trigger.active,
.user-table .ant-table-column-sorter-up.active,
.user-table .ant-table-column-sorter-down.active {
  color: var(--filterIcon) !important; /* cam */
}
/* Áp dụng style cho filter dropdown của bảng */
.ant-dropdown .ant-table-filter-dropdown .ant-dropdown-menu {
  max-height: 264px;
  overflow-x: hidden;
  border: 0;
  box-shadow: none;
  border-radius: unset;
  background: var(--BgPrimary) !important;
}
/* Hiệu ứng hover cho mục trong dropdown */
.ant-dropdown .ant-table-filter-dropdown .ant-dropdown-menu-item:hover {
  background: var(--sidebarHoverBg) !important; /* Màu nền khi hover */
}

/* Áp dụng style cho mục đã chọn trong dropdown */
.ant-dropdown .ant-table-filter-dropdown .ant-dropdown-menu-item-selected {
  background-color: var(
    --sidebarHoverBg
  ) !important; /* Màu nền cho mục đã chọn */
  color: var(--colorPrimary) !important; /* Màu chữ cho mục đã chọn */
}
/* Tùy chỉnh cho nút bị vô hiệu hóa (disabled button) */
.ant-btn-color-link.ant-btn-variant-link:disabled,
.ant-btn-color-link.ant-btn-variant-link.ant-btn-disabled {
  cursor: not-allowed; /* Khi nút bị vô hiệu hóa, con trỏ chuột sẽ thay đổi thành not-allowed */
  color: var(
    --sidebarHoverText
  ) !important; /* Màu chữ khi nút bị vô hiệu hóa */
}


.ant-table-cell .ant-table-tbody {
  background: var(--sidebarBorder) !important;
}

.user-table .ant-table-tbody > tr:nth-child(odd) > td {
  background: var(--sidebarHover) !important;
}

/* .ant-btn-variant-outlined{
  border: 1px solid #754da5 !important;
  color: #754da5 !important;
} */
