
.title-forgot-password {
font-size: 30px;
  text-align: center;
  font-weight: 700 ;
  background: var(--panelGradient) ;
  -webkit-background-clip: text ;
  -webkit-text-fill-color: transparent ;
  background-clip: text ;
}
.title-text-password{
    font-size: 14px;
  text-align: center;
  font-weight: 700 ;
  background: var(--panelGradient) ;
  -webkit-background-clip: text ;
  -webkit-text-fill-color: transparent ;
  background-clip: text ;
}
.title-email-password{
    font-size: 14px;
  text-align: center;
  font-weight: 700 ;
  background: var(--panelGradient) ;
  -webkit-background-clip: text ;
  -webkit-text-fill-color: transparent ;
  background-clip: text ;
}

.title-input-enter-your-email {
  border: 2px solid var(--panelGradient); /* viền gradient/màu */
  border: 1px solid #754da5 !important;
  padding: 10px 14px;                    /* padding */
  transition: all 0.3s ease;             /* hiệu ứng */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* 👈 đổ bóng */
}
.title-input-enter-your-email::placeholder {
  color: #722ed1 !important;
}
.forgotPassword-container{
  height: 100%;
  height: 100vh; /* full chiều cao màn hình */
   display: flex;
  justify-content: center !important;
  align-items: center !important;
    background: var(--BgPrimary) ;

}
.rounded {
  border-radius: 10px !important;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3) !important;
}

/* Bỏ background cho nút primary */
.ant-btn.ant-btn-primary.ant-btn-color-primary.ant-btn-variant-solid.ant-btn-block {
  background: var(--panelGradient) !important;  /* Gradient từ biến */
}


