.extra-user-layout {
  background: var(--colorBgContainer);
}
.breadcrumb-extra-user-layout {
  margin: 16px 24px;
}
.breadcrumb-extra-user-layout a {
  color: var(--menuHover) !important;
}
.breadcrumb-extra-user-layout .ant-breadcrumb-separator {
  color: var(--menuHover) !important;
}
.breadcrumb-extra-user-layout a:hover {
  color: var(--colorText);
}
.content-extra-user-layout {
  min-height: calc(100vh - 160px);
  padding: 10px 10px 10px 10px;
  background: var(--BgPrimary);
}
