.sidebar .ant-menu-light {
  background: var(--sidebarBg) !important;
}
.sidebar .ant-menu-light a {
  color: var(--sidebarText) !important;
}
.sidebar .ant-menu-light .ant-menu-item:hover,
.sidebar .ant-menu-light .ant-menu-submenu-title:hover {
  background: var(--sidebarHoverBg) !important;
}
.sidebar .ant-menu-light .ant-menu-item:hover a,
.sidebar .ant-menu-light .ant-menu-submenu-title:hover {
  color: var(--sidebarHoverText) !important;
}
.sidebar .ant-menu-light .ant-menu-item-selected a {
  color: var(--sidebarActiveText) !important;
}
.sidebar .sidebarGroup {
  color: var(--sidebarText);
  font-weight: bold;
  background: var(--panelGradient); /* màu gradient */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sidebar .sidebarLogout {
  cursor: "pointer";
  color: var(--sidebarText);
  font-weight: 600;
  background: var(--panelGradient); /* màu gradient */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sidebar
 .sidebarProfile{

  cursor: "pointer";
  color: var(--sidebarText);
  font-weight: 600;
  background: var(--panelGradient); /* màu gradient */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
.sidebar {
  background: var(--sidebarBg);
  min-height: 100vh;
  border-right: 1px solid var(--sidebarBorder);
  transition: all 0.3s;
}
.sidebar .sidebarTitle {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 16px;
  color: var(--colorText);
  transition: all 0.3s;
  font-weight: bold;
  background: var(--panelGradient); /* màu gradient */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sidebar .sidebarLogoTitle {
  margin-right: 20px;
}
.sidebar .menu-label-custom{
font-weight: bold;
 background: var(--panelGradient); /* màu gradient */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ant-breadcrumb ol{
font-weight: bold;
 background: var(--panelGradient); /* màu gradient */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}